* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    background: linear-gradient(to right, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 80%;
    background-color: white;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    line-height: 3rem;
}
.section {
    width: 50%;
    text-align: center;
    border: 1px solid;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section a {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 8px 65px;
    box-shadow: 7px 6px 5px gray;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.section a:hover{
    color: black;
}
.section a::before{
    left: -100%;
}
.section1 a::before, .section1 a::after{
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all 0.5s;
}
.section1 a:hover::before, .section1 a:hover::after {
    top: 0;
    height: 100%;
    width: 50%;
}
.section1 a:hover::before{
    left: 0;
}
.section1 a::after {
    right: -50%;
}
.section1 a:hover::after{
    right: 0;
}
.section2 a::before {
    content: "";
    bottom: -90%;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #800080;
    background: linear-gradient(to top, #ffc0cb, #800080);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -1;
    transition: all 0.5s;
}
.section2 a:hover::before {
    bottom: 0;
    height: 100%;
    width: 100%;
}
.section3 a::before{
    content: "";
    top: 0;
    left: -15%;
    height: 100%;
    width: 10%;
    position: absolute;
    background-color: red;
    z-index: -1;
    transition: all 0.2s;
    transform: rotate(10deg);
}
.section3 a:hover::before{
    top: 0;
    left: 110%;
}
.section4 a::before{
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    top: -242px;
    left: -336px;
    background-color: red;
    transition: 0.5s;
    z-index: -1;
}
.section4 a:hover::before{
    transform: scale(2.2);
}